// I got the blues, man.
// 1 --> 5, lightest --> darkest.

$color-red-1: #ffebee;
$color-red-2: #ffcdd2;
$color-red-3: #ef9a9a;
$color-red-4: #e57373;
$color-red-5: #e53935;
$color-white: #fff;
$color-slate: #5e5e5e;
