// I got the blues, man.
// 1 --> 5, lightest --> darkest.

$color-light-blue-1: #e1f5fe;
$color-light-blue-2: #81d4fa;
$color-light-blue-3: #29b6f6;
$color-light-blue-4: #039be5;
$color-light-blue-5: #0288d1;
$color-white: #fff;
$color-slate: #5e5e5e;
$color-red: #f44336;
$color-red-2: #e53935;
$color-deep-purple: #673ab7;
